.title-container{
    margin-bottom: 0.5em;
    background-color: lightgrey;
    font-family: 'Abel', sans-serif;
    
}
.tpv-title{
    font-size: 3rem;
    justify-content: center;
    margin-left:38.5rem;
    color:hsl(200, 19%, 18%);
    font-weight: 100;
}
.desktop-two-columns{
    display: flex;
}

h2{
    margin-left: 45%;
    
}
h3{
    font-family: 'Abel', sans-serif;
    color:hsl(200, 19%, 18%);
    font-weight: 100;
}
.aside{
    
    z-index: 1;
}
.tpv-aside-title{
    margin-left: 6rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.8rem;
    margin-bottom: -1rem;
    color:hsl(200, 19%, 18%);
    font-weight: 100;
}



.title-main{
    margin-left: 24rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.8rem;
    margin-bottom: -.5rem;
    color:hsl(200, 19%, 18%);
    font-weight: 100;
}

.ticket-box{
    display:flex;

}

.ticket-box-second{
    display:flex;
    

    margin-top: -1rem;
}

.image-ticket-container{
    
}

.delete-button-ticket{
    margin:1.5rem;
    margin-top:2.5rem;
    border:none;
}

.x-button{
    border:none;
    cursor: pointer;
}

.image-ticket{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    
}

.category-food-name{
    font-family: 'Abel', sans-serif;
    color:lightgrey;
    font-weight: 100;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.food-name{
    font-family: 'Abel', sans-serif;
    color:hsl(200, 19%, 18%);
    font-weight: 100;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.column-price-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.price-product{
    display: end;

}

.price-product-text{
    margin-left:8rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    color:grey;
}

.price-product-text-second{
    margin-left:6.5rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    color:grey;

}

.boxes-price-tickets{
    display: flex;
    margin-top: 1rem;
}

.box-price-ticket{
    background-color: gray;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-right:solid 1px white;
    padding:-2rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    justify-content: center;
    font-weight: 500;
}

.price-string{

    justify-content: center;
    margin-left: 1rem;
}


.box-iva-ticket{
    background-color: gray;
    color:white;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;   
}

.iva-string{
    justify-content: center;
    margin-left: 1.1rem;
}

.box-total-ticket{
    background-color: black;
    color:white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;  
}
.total-string{
    justify-content: center;
    margin-left: -.5rem;
}

.string-numbers{
    margin-left:-.5rem;
    color:#b8b3b3;
}

.pay-delete-boxes{
    display: flex;
    
    
}

.delete-box{
    margin-right: 1rem;
    margin-top: 1rem;
}
.delete-button{
    background-color: hsl(6, 58%, 52%);
    color:white;
    border:none;
    border-radius: .4rem;
    padding-left: 4.1rem;
    padding-right: 4.1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.pay-box{
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: .3rem;
}

.pay-button{
    background-color: #368868;
    color:white;
    border:none;
    border-radius: .4rem;
    padding-left: 4.1rem;
    padding-right: 4.1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.column-main{

    margin-top: 1.4rem;
}



.column-aside{
    margin-top: 1.1rem;
    
}

.category-tabs{
    display: flex;
    justify-content: left;
    
}

.home{
    

}

.home-button{
    background-color: rgb(175, 173, 173);
    color:white;
    border:none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2rem;
}

.span-home{
    color:white;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5rem;

}

.svg-home{
    width: 20px;
    height: 20px;
    
    
}

.category-button{
    background-color: rgb(143, 142, 142);
    color:white;
    border:none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-left:.5rem;
    margin-top: 2rem;
}



.span-category{
    color:white;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5rem;

}

.svg-category{
    width: 20px;
    height: 20px;
}

.column-products{
    display: flex;
    
    
}
.images-category-soda{
    box-shadow: 0px 4px 4px 0px rgba(70, 68, 68, 0.418);
    margin-top: 1rem;
    
}
.images-category-foot{
    
    margin-top: 1rem;
    
}
.soda-image{
    width: 18rem;
    height:13rem;
}

.food-image{
    width: 18rem;
    height:13rem;
    margin-left: 1.5rem;
}

.soda-txt{
    margin-top: 1rem;
    margin-left: 6.2rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.food-txt{
    margin-top: 1rem;
    margin-left: 15.2rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.title-products{
    display: flex;
}


/* hovers */

.pay-button:hover{
    box-shadow: 2px 2px 2px 2px #003300 ;
}

.delete-button:hover{
    box-shadow: 2px 2px 2px 2px #9a0007 ;
}